section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.card {
  width: 450px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 20px rgba(0, 117, 255, 0.94);
}

.carousel {
  width: 500px;
  height: 300px;
  padding: 0;
}

.games {
  width: 500px;
  height: 325px;
}

.card a {
  width: 90%;
  text-align: center;
  padding: 5px;
  margin: 5px;
  background-color: black;
  color: white;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  text-decoration: none;
}

.card a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.card ul {
  list-style: none;
}
