@font-face {
  font-family: "Fredoka";
  src: url("../Fredoka/Fredoka-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 117, 255, 0.94);
  border-radius: 10px;
  border: solid black 3px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  text-align: center;
}

h3 {
  color: black;
}

body {
  background-color: black;
  color: white;
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  background: linear-gradient(180deg, rgba(0, 117, 255, 0.94) 0%, black 100%);
}
header ul {
  list-style-type: none;
}

main img {
  width: 150px;
}

footer {
  background: linear-gradient(180deg, black 0%, rgba(0, 117, 255, 0.94) 100%);
}

p {
  font-size: 1rem;
  text-indent: 20px;
  text-align: justify;
}

a {
  color: white;
}

#Top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}
