@font-face {
  font-family: "Fredoka";
  src: url("../Fredoka/Fredoka-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--blackJS);
}
::-webkit-scrollbar-thumb {
  background-color: var(--blueJS);
  border-radius: 10px;
  border: solid var(--blackJS) 3px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  text-align: center;
}

#Home h3 {
  color: var(--blackJS);
}

body {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=166383), auto;
  background-color: var(--blackJS);
  color: white;
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100vh;
}

a,
button:not(:disabled),
[type="button"]:not(:disabled),
span {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=183748), auto;
}

header {
  background-color: var(--blueJS);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 98;
}

header #box {
  width: 100%;
  padding: 2px;
  height: 10px;
  background-color: var(--blueJS);
}
header #box #indicator {
  width: 100%;
  height: 100%;
  background-color: var(--blackJS);
  border-radius: 20px;
}

main img {
  width: 150px;
}

.bg {
  pointer-events: none;
}

footer {
  background-color: var(--blueJS);
}

p {
  font-size: 1rem;
  text-indent: 20px;
  text-align: justify;
}

a {
  color: white;
}

#Top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 98;
}
